
<div class="row">
    <div class="col">
        <div class="card">
            <div class="col-6">
                <img src="../../../assets/yo.jpg" width="100px"  alt="...">
            </div>
            <div class="col-6">
                <div class="card-body">
                    <h5 class="card-title">Luis Prado </h5>
                    <p class="card-text">Soy Estudiante de la universidad Técnologica Nacional</p>
                    <a href="#" class="btn btn-primary">Ir a mi Juego</a>
                  </div> 
            </div>
            
        </div>
    </div>
    
</div>
