<div class="card mt-5" *ngIf="usuario$ |async as user; else cargando">
    <div class="card-body">
        <h3 class="card-title">Gracias por registrarte</h3>
        <div class="form-group text-center mt-2">
            <p class="text-center">
                Enviamos una confirmación de mail a <strong>{{ user.email }}</strong>
            </p>
            <p class="text-center">
                Por favor revisa tu correo e ingresa al link para verificar tu mail.
            </p>
        </div>
        <div class="form-group text-center mt-5">
            <button class="btn btn-primary" (click)="enviarMail()">Reenviar verificación de mail</button>
        </div>
    </div>
</div>
<ng-template #cargando>
    Cargando...
</ng-template>

