.modal-content {
    background-color: #000;
    opacity: .85;
    padding: 0 20px;
    color: #fff;
}
h2{
    color: #fff;
}
img{
    width: 100%;
    height: 90%;
    margin-bottom: 20px;
}
.modal-content:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}